.blockchain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100vw;
}

.blockchain__buttons {
  display: flex;
  gap: 10px;
}

.blockchain__button {
  padding: 8px 20px;
  border: 1px solid #000;
  border-radius: 24px;
  transition: 300ms;
  cursor: pointer;
  text-transform: uppercase;
}

.button--red {
  background-color: rgb(202, 53, 53);

  &:hover {
    background-color: rgb(255, 0, 0);
  }
}

.button--green {
  background-color: rgb(56, 158, 56);

  &:hover {
    background-color: rgb(0, 255, 0);
  }
}

.button--yellow {
  background-color: rgb(221, 221, 61);

  &:hover {
    background-color: rgb(255, 255, 0);
  }
}

.blockchain__table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #9c98d4;
  border-bottom: 0;
}

.blockchain__table-header,
.blockchain__table-row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #9c98d4;
  text-align: center;
  word-break: break-word;
}

.blockchain__table-header > *,
.blockchain__table-row > * {
  padding: 10px 0;
}

.blockchain__table-header th:first-child,
.blockchain__table-row td:first-child {
  flex: 2;
}

.blockchain__table-header th:nth-child(2),
.blockchain__table-row td:nth-child(2) {
  flex: 2;
  border-left: 1px solid #9c98d4;
  border-right: 1px solid #9c98d4;
}

.blockchain__table-header th:last-child,
.blockchain__table-row td:last-child {
  flex: 1;
}
